files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDMzCCAhsCFFfQ+DuPVE0BdbNtxU4Zl53xxxASMA0GCSqGSIb3DQEBCwUAMFYx
      CzAJBgNVBAYTAlVTMRIwEAYDVQQIDAlXaXNjb25zaW4xEDAOBgNVBAcMB01hZGlz
      b24xITAfBgNVBAoMGEludGVybmV0IFdpZGdpdHMgUHR5IEx0ZDAeFw0yMzEwMjQx
      NjI5MjhaFw0yNDEwMjMxNjI5MjhaMFYxCzAJBgNVBAYTAlVTMRIwEAYDVQQIDAlX
      aXNjb25zaW4xEDAOBgNVBAcMB01hZGlzb24xITAfBgNVBAoMGEludGVybmV0IFdp
      ZGdpdHMgUHR5IEx0ZDCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAJ3b
      mKrYr/bPONy9/CTOVaAJPzGBJF1XSwll8gcvk5e0Um+pq8jXDJjnn/1YgFILD9J4
      9w18CBK9a1wD7KEyaSDjiyNnCucHhM1vbvxq1kfFl1XrHprC5cEwiaf8eEyuUNQr
      LdNh3zXpKFGk08GExO5VO4hL66YL9f0yzvxJNF1DQXtVEn8LfyvSgcv59swTQT1B
      mV9PmERRAcjBdkyV8YEuqfmqRZXHa8L8zmyo9LGULttW7h8WuqFt5WZ+vciexhIC
      4zNEwjnmcM+Tu0LVo4dAHXp1G+553y/X4Fkb1nA2ZuxxTiVG03gkBsCqxXVP5OAt
      YIqJe7Am9MyjOv4C3YMCAwEAATANBgkqhkiG9w0BAQsFAAOCAQEAeptuy1E11nMr
      fuYQJN/68iZgR2F7NKNF/VIg/HvsJ+b7Rrb4gU6wqSydbhkEG7fFZLToNzHE6tb3
      0DPmaAn94FsnD5Kjec96ck6xmtD6/RK5mGlKbwrvP5iGjdwbNQDFc0SyARAKKjkq
      nMbryjUczzyjKBIdxmaD72mdX9XJ5WMyEsHCKVjej3Q7xswpRGOO4IrKDaiDWpoz
      bySN7B+S3aZktaFPRCt0ZBeguLZoxp3ULlirNl4v3KgU6cNl0zfh2HymQExfkXSv
      j99BuMvUzlUvY7mIbSEgOrQp04elb3YjH/yrZNL5TxOH8sM8Es4NnPYo1xNKqx6l
      EcOMBNEEgg==
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQCd25iq2K/2zzjc
      vfwkzlWgCT8xgSRdV0sJZfIHL5OXtFJvqavI1wyY55/9WIBSCw/SePcNfAgSvWtc
      A+yhMmkg44sjZwrnB4TNb278atZHxZdV6x6awuXBMImn/HhMrlDUKy3TYd816ShR
      pNPBhMTuVTuIS+umC/X9Ms78STRdQ0F7VRJ/C38r0oHL+fbME0E9QZlfT5hEUQHI
      wXZMlfGBLqn5qkWVx2vC/M5sqPSxlC7bVu4fFrqhbeVmfr3InsYSAuMzRMI55nDP
      k7tC1aOHQB16dRvued8v1+BZG9ZwNmbscU4lRtN4JAbAqsV1T+TgLWCKiXuwJvTM
      ozr+At2DAgMBAAECggEABMFrKFJzfUr22pI6o103789M1mVJPtVKDxQW0NKabqqM
      Wo17qFxE0TfBIR+7wJJRaAokNIV1CiN8tX6aGq0VxQY12IYv1OVBbJ2byVeVRv+T
      3znAZ/HRJsXF5TKnk8p4kuZjcLJ1HVRTK5/R5UrmUovCHwldJa5x5a5/Kn3baafN
      4y4eav0e93MY1lIKDIYLMBJOMq1uSt/eNjOJ1+6WBJVbY6C8ZaJQgCtyygo53i6g
      K3Yuy4IbphEM75yqMYO6Ajdh4kx3RqMxNguRpPaPRB3gMlROAIrIEsQEXfeZTsxW
      fLwldZ9k0FP450vea0bES81pAkb9S3xmpxwiAhn/oQKBgQDZglxVAKFMleK9JNHM
      ImMIC7UEdzwxl2mXCYwzJU0kGqrc65CUtMoLaq36b2ooUsOKujDUAXldnkbdfNd9
      btXRwpspAeQl7MI1xjI8cfs8scQuB2YfzhOave1PpoP7hFKj39iy5gp6ULNZXMKX
      irXVX6wSmX+f0YeND6MwiYHTUQKBgQC5yuWaH/MV2yAunurq1qBmCthmciExTPma
      G8b/tdvvLXUQ6h+9GxLL8k/p+AN3pZc9o+8iaTiuM9vTUBiwfKG6W5YMLpDbhU/R
      PkThP49L5+DF+T0wUIhrOuI/4DI0xTWWC92bD5TlOi7HKJf0SJWI1kBH40tZ+JhM
      h275hnCmkwKBgC0BBAmyb61g9eEc1SvfkY4AnhumcBXyti5CE3ghp6xouCGtu+SI
      46UpFYZTtytQtJTnoWK8S1hLf24kfpG9dRBJq8D4WzRdoHFv6MUI8GrGfUjozwCV
      qwjBc3Cfi39nCZJOpo+deV2FhRZgUwL3+FeFzBytFfMDb4CIU8OfL/WBAoGBAIrt
      q476gR1Aw+nYr7V3VG25gmPox+VDuAmC5+ViqdlJ1pYVXDJeQkn7IcLE0GLxkgxn
      v3Ot1tJ8uM5kwHGIYK8nuSXW1D8yiqLeu0br7k1GUQ/49cZhEgGNAI3fKevH4/AV
      Y1qF5kMapMwMEMR8WkT+YQbgcgIPIGNpipRP8YC9AoGAEliOQlS8ZVXUIzqA1TH7
      sEmnaCTyVm1mtFqWmKYNK5zlQhLUp+w+XlpRLbUPyTGFDNg/p/aDwjk887x7EkIX
      By02x5OXjWPdWroxvfBz97VrnH48ueZhudgg/ByCOGIAhzr9/01oKiWFGO4Mi3dz
      mroTsCjmJ4QLpq/6eLg/BtE=
      -----END RSA PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart