files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIID+zCCAuOgAwIBAgIUB6JRg+iwnqhpYwi3trRnlCGuzI0wDQYJKoZIhvcNAQEL
      BQAwgYwxCzAJBgNVBAYTAlVTMQswCQYDVQQIDAJXSTETMBEGA1UEBwwKc3VuIHBy
      YXJpZTERMA8GA1UECgwIc3BlY3RydW0xDTALBgNVBAsMBG1hdGMxDzANBgNVBAMM
      BnNoYW5kYTEoMCYGCSqGSIb3DQEJARYZc2hhbmRhQG1hZGlzb25jb2xsZWdlLmVk
      dTAeFw0yMzEwMTkwMTU3NDhaFw0yNDEwMTgwMTU3NDhaMIGMMQswCQYDVQQGEwJV
      UzELMAkGA1UECAwCV0kxEzARBgNVBAcMCnN1biBwcmFyaWUxETAPBgNVBAoMCHNw
      ZWN0cnVtMQ0wCwYDVQQLDARtYXRjMQ8wDQYDVQQDDAZzaGFuZGExKDAmBgkqhkiG
      9w0BCQEWGXNoYW5kYUBtYWRpc29uY29sbGVnZS5lZHUwggEiMA0GCSqGSIb3DQEB
      AQUAA4IBDwAwggEKAoIBAQDMqqPI7bPKBc2+Mm9uIAqDU0hYKrPOo72dyoMjmjOw
      rXd/jNrw/m4GWdIrPj6/yd+HB8YRVH0qNPpB+HzMP3oX3azpzK16UcoLVFhqmlNX
      6GOUrQBUqAXaadeo23HkDx0c3YK4dXZYJ2rzKY7pe8C5WNn5nkDqPajdl4KD9Uub
      KPgtlH77Mu0RMO8cqnmBVMlJlxw0cTUYINoGVlozR65S0wtMp6vSFzKkn3cFBb1i
      LGlm/7IUbOmFClBOPiLVUVW8zTFlmNusvZMBOJHf4OmusCmTi8gDYVSi+JgJ7pfO
      Ao9C3TKKy4A/dPtkHKRPq5ByYx8uBl7QFJMiYrarbg5jAgMBAAGjUzBRMB0GA1Ud
      DgQWBBQ2jQ2qixgtGrvPAeR15UQf/w7MODAfBgNVHSMEGDAWgBQ2jQ2qixgtGrvP
      AeR15UQf/w7MODAPBgNVHRMBAf8EBTADAQH/MA0GCSqGSIb3DQEBCwUAA4IBAQAS
      IBl16JfV5M+ehxaXzVjUszoBf+se9P5cd5iQyTKCOVvAC4UGbuD1vyb2GiQ4Z8Mo
      ZOBDV1hKXWbm6DHVwC2KI/LzeQJqiZ/yYVZ0NdZn9A9YuR/GfszWFJLjcbe1436r
      Sf5bxYjYi3/3eeGa4fPpx1aFxg+hMKsOMKE+SqCWN8q/IXc8/wKeW9th41ux7ShR
      52yozfXHCWj+cIPGJRrfixPOGM6Yq02uN8UOyr2CTHkuA68pVE3SjSDeTQB/96Z4
      ka/bjSKdQLAn2DIT5FWh0SxIiwgHSQ3q0Ydg+xUn3BeuSabgMpyUgD9J9jHQ+5Bo
      kH5W0LQIyy0mFeSBMRWD
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIFHDBOBgkqhkiG9w0BBQ0wQTApBgkqhkiG9w0BBQwwHAQIkGrvNdhuGaICAggA
      MAwGCCqGSIb3DQIJBQAwFAYIKoZIhvcNAwcECCDtB0ELuS/QBIIEyIQH/1gbqrAT
      jBISmrCq9+SI/oknYw+WatjQQ3GMqsHDvQlywloeFejWvx0WQ0FDlKLlAqBjbP7g
      YmNRS36EFSO5gNO43LrK8fZDuJ+SZ5LQTVXNbXw5kMK+ZnzSuHRSo3brXPcqT6Bi
      r9zIci/BK2UcL+UIRWKbE9bfGr2lf+wGOywPtAk0AmSsuO84A7uPMA6wMIGOepNb
      6qE9WM+qIdvpy/Wp8GnHAWNLaxGOU0Fu9LZHKAhRYqQunKwjEQQBv2uTOQ/eh+ou
      UEFu0H/qqSIw7SJgoy+K3FvRyEFH6ICSOV6jtbf7TVMxFEeAYPV12FCRpd9VUNBn
      BB0Rad8FFrPSVNSoR4FCSVDwITQoveBnY7fAEzfC3MmLCdP7VvHIbWIgtgzg6bPL
      btqw5HvNTOqwqv1MQxo2dwgE3f+iXkL2dp8xj2hln4b6FLrvSJo+8OpJHS7seBPs
      eKmfPBlwZswIfQ8P+2eFauo5A7pZ14YAlg0lN1rQaVllHCAkqKxOsJPZlaLXMBWK
      +oRLrsF8THFqfJ/v3UpVQ4LQ0BpwHMOiNGM7vNrq9617+U7oqejPWQnj18Nq7mph
      a2Q2qoDdHrtwcoKCAjSO/e/1sekg7M54J7CzZmRAmHQY84w2huaZLR0II4VPp75b
      ylxC/GK/+/qmdVdqZfxenFI4+fgzcNRDD0jUtbVqJQCR2HNlxxi6sAThShXaGXdM
      8zQxkKYepESJ4Dj4H4sgZAnHlTIQjTJmq6vcKBto/xnz9+OeZSDHQWk1LW7kqGRM
      ZvD/+xrwt3ZrLDm7sEI4U8FG1A3ak6uiTHLPEm7oTwxtVr2hhgqkH7nZhAdZS+ZY
      LoeNSw1WAy9APMJ9mDT8+53eju/1Ppn+EWKgvZcCxM3EcmJA8bO5pV6asEaQqdUh
      JbuSY2ExmmmOGxuUAL4ocppn6rDO7NJ+1DqGvgtoT4lmZSGOvPtiOQmueq9nUXyN
      8Lw2EFkN/rOD/dvEiuvoG5LLF4JfA6KZ20xTGnWCTgz8tFETHBe7mH+7MchSiFuf
      FfgotE4wMvIx+tFGHb9PhAZgZuwlcA6LZyRtWqQ9IOsOPzVVL8AMLYVv3Abt92pO
      oucNroGKlso99Sm9lJc4QMy3rbQjtTNHVw+qScCXPtovP7XbHiSqzRlTBmOWEf9/
      +qEPfq2uw+FOHSvfIlG8KhwX70Zu77QL6kyio7tG3MrNltqMAcsPjNlGUVLkZ4XR
      7UZvhTHBp3Umg4+fUQZadShrXRpSxrkJXDpuGCOK973pdDMKzqhfVwdsmAvzuSzr
      slYkwBTTKm3BVtCVoaWaMNm5xQ6Ui4/Z3zgq/m8T+J9Ou4+ngpaq2LJa0n0xHyAj
      8gMsxxxpwvWIBYUzgC6xlDNIJk9RxVlqgPYtmC2jAQeFpvB6lNAGJmHWuXQbaCFM
      gQRnPDlUe468jgLVTU/MHiHRD+gtRdYvPV56aqfFYQk89IMAW5yo3/jsSfF9w6Zm
      KFj7ErTurp2olSYmSa4fORbyHz0tD3/vomTSZSN6yeJ/0Jtjea+RfyhC1NLEp2DT
      ElcO82DRU1oA+XqXNb2kivqJUrR/8w+J8EZVxDTP5+4n5wlzcR9oJdZpxzna1h78
      mg/QYk0p8fJ058j4ZI+VPg==
      -----END RSA PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart